<footer class="footer">
    <div class="footer-container">
        <div class="footer-socials">
            <a href="https://x.com/yogeshpote1234" target="_blank">
                <i class='bx bxl-twitter'></i>
            </a>
            <a href="https://instagram.com/_its_yogesh_pote" target="_blank">
                <i class="bx bxl-instagram"></i>
            </a>
            <a href="https://linkedin.com/in/yogesh-pote/" target="_blank">
                <i class='bx bxl-linkedin'></i> </a>
        </div>
        <div class="footer-brand">&copy; 2024 Airbnb Private Limited</div>
        <div class="footer-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>

<script src="/script.js"></script>
<script src="/nav.js"></script>
<!-- <script src="/map.js"></script> -->