<nav class="navbar navbar-expand-lg bg-body-light sticky-top border-bottom">
    <div class="container-fluid">
        <!-- Brand Logo -->
        <a class="navbar-brand brand-active" href="/listings">
            <i class='bx bxl-airbnb'></i> airbnb
        </a>

        <!-- Toggle Button for Mobile View -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="CrossAndBar logoColor"><i class="fa-solid fa-bars-staggered"></i></span>
        </button>

        <!-- Collapsible Navbar Links -->
        <div class="collapse navbar-collapse " id="">
            <!-- Left Side Links -->
            <div class="navbar-nav flex-column text-center text-md-start">
                <a class="nav-link" href="/listings"> <i class="fa-regular fa-compass"></i> Explore</a>
            </div>

            <!-- Search Bar -->
            <div class="navbar-nav ms-auto flex-column text-center text-md-start">
                <form class="d-flex flex-column flex-md-row align-items-md-center" action="/listings/search"
                    method="post" role="search">
                    <input class="form-control me-md-2 mb-2 mb-md-0" type="search" name="search"
                        placeholder="Search Destinations" aria-label="Search">
                    <button class="btn btn-outline-danger search-btn" type="submit">
                        Search
                    </button>
                </form>
            </div>
            <div class="form-check form-switch ms-auto  tax-switch">
                <strong><label class="form-check-label" style="cursor: pointer;" for="flexSwitchCheckDefault">Tax
                        Checkout
                    </label>
                </strong>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input
                    class="form-check-input" style="cursor: pointer;" type="checkbox" role="switch"
                    id="flexSwitchCheckDefault">
            </div>
            <!-- Right Side Links -->
            <div class="navbar-nav ms-auto  text-center text-md-start">
                <a class="nav-link" href="/listings/new"> <i class="fa-solid fa-house-circle-check"></i> Airbnb your
                    home</a>

                <!-- Authentication Links -->
                <% if (!currentUser) { %>
                    <b>
                        <a class="nav-link" href="/signup">
                            <i class="fa-solid fa-user-plus"></i> Signup
                        </a>
                    </b>
                    <b>
                        <a class="nav-link" href="/login">
                            <i class="fa-solid fa-user"></i> Login
                        </a>
                    </b>
                    <% } else { %>
                        <b>
                            <a class="nav-link" href="/logout">
                                <i class="fa-solid fa-user-minus"></i> Logout
                            </a>
                        </b>
                        <% } %>
            </div>
        </div>
    </div>

    <div class="box-nav">
        <!-- Left Side Links -->
        <div class="form-check form-switch ms-auto  tax-switch">
            <strong><label class="form-check-label" style="cursor: pointer;" for="flexSwitchCheckDefault">Tax
                    Checkout
                </label>
            </strong>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input
                class="form-check-input" style="cursor: pointer;" type="checkbox" role="switch"
                id="flexSwitchCheckDefault">
        </div>
        <div class="navbar-nav text-center">
            <a class="nav-link" href="/listings"> <i class="fa-regular fa-compass"></i> Explore</a>
        </div>

        <!-- Search Bar -->
        <div class="navbar-nav text-center">
            <form class="d-flex flex-column justify-content-center align-items-center" method="post"
                action="/listings/search" role="search">
                <input class="form-control  mb-2" type="search" name="search" placeholder="Search Destinations"
                    aria-label="Search">
                <button class="btn btn-outline-danger  search-btn" type="submit">
                    Search
                </button>
            </form>
        </div>

        <!-- Right Side Links -->
        <div class="navbar-nav text-center">
            <a class="nav-link" href="/listings/new"> <i class="fa-solid fa-house-circle-check"></i> Airbnb your
                home</a>

            <!-- Authentication Links -->
            <% if (!currentUser) { %>
                <b>
                    <a class="nav-link" href="/signup">
                        <i class="fa-solid fa-user-plus"></i> Signup
                    </a>
                </b>
                <b>
                    <a class="nav-link" href="/login">
                        <i class="fa-solid fa-user"></i> Login
                    </a>
                </b>
                <% } else { %>
                    <b>
                        <a class="nav-link" href="/logout">
                            <i class="fa-solid fa-user-minus"></i> Logout
                        </a>
                    </b>
                    <% } %>
        </div>
    </div>

</nav>

<div class="container">

    <div class="position-relative">

        <div class="filters">
            <button class="carousel-button d-none d-lg-flex d-sm-flex left" onclick="scrollFilters(-200)"><i
                    class="fa-solid fa-circle-chevron-left"></i></button>

            <button class="carousel-button d-none d-lg-flex  d-sm-flex right" onclick="scrollFilters(200)"><i
                    class="fa-solid fa-circle-chevron-right"></i></button>
            <div class="filter">
                <div class="icon">
                    <a href="/listings/category/trending"><i class="fa-solid fa-fire"></i></a>
                </div>
                <p> Trending</p>
            </div>

            <div class="filter">
                <div class="icon"><a href="/listings/category/room"><i class="fa-solid fa-bed"></i></a></div>
                <p>Room</p>
            </div>

            <div class="filter">
                <div class="icon"><a href="/listings/category/mountain"><i class="fa-solid fa-mountain-sun"></i></a>
                </div>
                <p>Mountain</p>
            </div>


            <div class="filter">
                <div class="icon"><a href="/listings/category/lake"><i class="fa-solid fa-water"></i></a></div>
                <p>Lake</p>
            </div>


            <div class="filter">
                <div class="icon"><a href="/listings/category/pool"><i class="fa-solid fa-water-ladder"></i></a></div>
                <p>Pool</p>
            </div>


            <div class="filter">
                <div class="icon"><a href="/listings/category/beach"><i class="fa-solid fa-umbrella-beach"></i></a>
                </div>
                <p>Beach</p>
            </div>




            <div class="filter">
                <div class="icon"><a href="/listings/category/treehouse"><i class="fa-solid fa-tree"></i></a>
                </div>
                <p>Treehouses</p>
            </div>




            <div class="filter">
                <div class="icon"><a href="/listings/category/camping"><i class="fa-solid fa-mountain-sun"></i></a>
                </div>
                <p>Camping</p>
            </div>




            <div class="filter">
                <div class="icon"><a href="/listings/category/city"><i class="fa-solid fa-city"></i></a></div>
                <p>TopCity</p>
            </div>




            <div class="filter">
                <div class="icon"><a href="/listings/category/tower"><i class="fa-solid fa-gopuram"></i></a></div>
                <p>Towers</p>
            </div>




            <div class="filter">
                <div class="icon"><a href="/listings/category/river"><i class="fa-solid fa-water"></i></a></div>
                <p>River</p>
            </div>



            <div class="filter">
                <div class="icon"><a href="/listings/category/couplespot"><i class="fa-solid fa-people-pulling"></i></a>
                </div>
                <p>Copuple-Spot</p>
            </div>



            <div class="filter">
                <div class="icon"><a href="/listings/category/offcountry"><i
                            class="fa-solid fa-plane-departure"></i></a>
                </div>
                <p>Off-Country</p>
            </div>




            <div class="filter">
                <div class="icon"><a href="/listings/category/vacation"><i
                            class="fa-solid fa-person-walking-luggage"></i></a></div>
                <p>vacation</p>
            </div>


            <div class="filter">
                <div class="icon"><a href="/listings/category/honeymoon"><i class="fa-solid fa-children"></i></a></div>
                <p>Honeymoon</p>
            </div>

            <div class="filter">
                <div class="icon"><a href="/listings/category/boat"><i class="fa-solid fa-ship"></i></a></div>
                <p>Boat</p>
            </div>
        </div>
    </div>
</div>