<nav class="navbar navbar-expand-lg bg-body-light sticky-top border-bottom">
    <div class="container-fluid">
        <!-- Brand Logo -->
        <a class="navbar-brand brand-active" href="/listings">
            <i class='bx bxl-airbnb'></i> airbnb
        </a>

        <!-- Toggle Button for Mobile View -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="CrossAndBar logoColor"><i class="fa-solid fa-bars-staggered"></i></span>
        </button>

        <!-- Collapsible Navbar Links -->
        <div class="collapse navbar-collapse " id="">
            <!-- Left Side Links -->
            <div class="navbar-nav flex-column text-center text-md-start">
                <a class="nav-link" href="/listings"> <i class="fa-regular fa-compass"></i> Explore</a>
            </div>

            <!-- Search Bar -->
            <div class="navbar-nav ms-auto flex-column text-center text-md-start">
                <form class="d-flex flex-column flex-md-row align-items-md-center" action="/listings/search"
                    method="post" role="search">
                    <input class="form-control me-md-2 mb-2 mb-md-0" type="search" name="search"
                        placeholder="Search Destinations" aria-label="Search">
                    <button class="btn btn-outline-danger search-btn" type="submit">
                        Search
                    </button>
                </form>
            </div>
            <div class="tax-button">
                <p>Show Tax</p>
                <i class="fa-solid fa-toggle-off"></i>
            </div>
            <!-- Right Side Links -->
            <div class="navbar-nav ms-auto  text-center text-md-start">
                <a class="nav-link" href="/listings/new"> <i class="fa-solid fa-house-circle-check"></i> Airbnb your
                    home</a>

                <!-- Authentication Links -->
                <% if (!currentUser) { %>
                    <b>
                        <a class="nav-link" href="/signup">
                            <i class="fa-solid fa-user-plus"></i> Signup
                        </a>
                    </b>
                    <b>
                        <a class="nav-link" href="/login">
                            <i class="fa-solid fa-user"></i> Login
                        </a>
                    </b>
                    <% } else { %>
                        <b>
                            <a class="nav-link" href="/logout">
                                <i class="fa-solid fa-user-minus"></i> Logout
                            </a>
                        </b>
                        <% } %>
            </div>
        </div>
    </div>

    <div class="box-nav">
        <!-- Left Side Links -->
        <div class="tax-button ms-auto">
            <p class="Tax-p">Show Tax</p>
            <i class="fa-solid fa-toggle-off"></i>
        </div>
        <div class="navbar-nav text-center">
            <a class="nav-link" href="/listings"> <i class="fa-regular fa-compass"></i> Explore</a>
        </div>

        <!-- Search Bar -->
        <div class="navbar-nav text-center">
            <form class="d-flex flex-column justify-content-center align-items-center" method="post"
                action="/listings/search" role="search">
                <input class="form-control  mb-2" type="search" name="search" placeholder="Search Destinations"
                    aria-label="Search">
                <button class="btn btn-outline-danger  search-btn" type="submit">
                    Search
                </button>
            </form>
        </div>

        <!-- Right Side Links -->
        <div class="navbar-nav text-center">
            <a class="nav-link" href="/listings/new"> <i class="fa-solid fa-house-circle-check"></i> Airbnb your
                home</a>

            <!-- Authentication Links -->
            <% if (!currentUser) { %>
                <b>
                    <a class="nav-link" href="/signup">
                        <i class="fa-solid fa-user-plus"></i> Signup
                    </a>
                </b>
                <b>
                    <a class="nav-link" href="/login">
                        <i class="fa-solid fa-user"></i> Login
                    </a>
                </b>
                <% } else { %>
                    <b>
                        <a class="nav-link" href="/logout">
                            <i class="fa-solid fa-user-minus"></i> Logout
                        </a>
                    </b>
                    <% } %>
        </div>
    </div>

</nav>

<div class="container">
    <div class="position-relative">
        <div class="filters">
            <button class="carousel-button d-none d-lg-flex d-sm-flex left" onclick="scrollFilters(-200)">
                <i class="fa-solid fa-circle-chevron-left"></i>
            </button>

            <button class="carousel-button d-none d-lg-flex  d-sm-flex right" onclick="scrollFilters(200)">
                <i class="fa-solid fa-circle-chevron-right"></i>
            </button>

            <div class="filter">
                <a href="/listings/category/trending">
                    <div class="icon"><i class="fa-solid fa-fire"></i></div>
                    <p>Trending</p>
                </a>
            </div>

            <div class="filter">
                <a href="/listings/category/room">
                    <div class="icon"><i class="fa-solid fa-bed"></i></div>
                    <p>Room</p>
                </a>
            </div>

            <div class="filter">
                <a href="/listings/category/mountain">
                    <div class="icon"><i class="fa-solid fa-mountain-sun"></i></div>
                    <p>Mountain</p>
                </a>
            </div>

            <div class="filter">
                <a href="/listings/category/lake">
                    <div class="icon"><i class="fa-solid fa-water"></i></div>
                    <p>Lake</p>
                </a>
            </div>

            <div class="filter">
                <a href="/listings/category/pool">
                    <div class="icon"><i class="fa-solid fa-water-ladder"></i></div>
                    <p>Pool</p>
                </a>
            </div>

            <div class="filter">
                <a href="/listings/category/beach">
                    <div class="icon"><i class="fa-solid fa-umbrella-beach"></i></div>
                    <p>Beach</p>
                </a>
            </div>

            <div class="filter">
                <a href="/listings/category/treehouse">
                    <div class="icon"><i class="fa-solid fa-tree"></i></div>
                    <p>Treehouses</p>
                </a>
            </div>

            <div class="filter">
                <a href="/listings/category/camping">
                    <div class="icon"><i class="fa-solid fa-mountain-sun"></i></div>
                    <p>Camping</p>
                </a>
            </div>

            <div class="filter">
                <a href="/listings/category/city">
                    <div class="icon"><i class="fa-solid fa-city"></i></div>
                    <p>TopCity</p>
                </a>
            </div>

            <div class="filter">
                <a href="/listings/category/tower">
                    <div class="icon"><i class="fa-solid fa-gopuram"></i></div>
                    <p>Towers</p>
                </a>
            </div>

            <div class="filter">
                <a href="/listings/category/river">
                    <div class="icon"><i class="fa-solid fa-water"></i></div>
                    <p>River</p>
                </a>
            </div>

            <div class="filter">
                <a href="/listings/category/couplespot">
                    <div class="icon"><i class="fa-solid fa-people-pulling"></i></div>
                    <p>Couple-Spot</p>
                </a>
            </div>

            <div class="filter">
                <a href="/listings/category/offcountry">
                    <div class="icon"><i class="fa-solid fa-plane-departure"></i></div>
                    <p>Off-Country</p>
                </a>
            </div>

            <div class="filter">
                <a href="/listings/category/vacation">
                    <div class="icon"><i class="fa-solid fa-person-walking-luggage"></i></div>
                    <p>Vacation</p>
                </a>
            </div>

            <div class="filter">
                <a href="/listings/category/honeymoon">
                    <div class="icon"><i class="fa-solid fa-children"></i></div>
                    <p>Honeymoon</p>
                </a>
            </div>

            <div class="filter">
                <a href="/listings/category/boat">
                    <div class="icon"><i class="fa-solid fa-ship"></i></div>
                    <p>Boat</p>
                </a>
            </div>
        </div>
    </div>
</div>
